* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body > header {
  background-color: #2f3640;
  padding: 1em 0;
  color: #f5f6fa;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header li {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 1em;
}
header li a {
  color: #f5f6fa;
  text-decoration: none;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles article img {
  width: 100%;
}

.articles article {
  width: 30%;
}

section {
  padding: 1em 0;
}
section h2,
.articles article {
  margin-bottom: 1em;
}

.articles article h3 {
  margin: 0.5em, 0;
}
.articles article a {
  background-color: blue;
  color: #fff;
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin-top: 0.5em;
}
.articles article a:hover {
  text-decoration: underline;
}
.articles article p,
.articles article a {
  font-family: Arial, Helvetica, sans-serif;
}
.articles article h3 {
  font-size: 1.5em;
}

section h2 {
  font-size: 2em;
}

#sports {
  background-color: rgba(0, 255, 0, 0.1);
}
#sports .articles article a {
  background-color: #009432;
}

#economy {
  background-color: #f8f59f;
}
#economy .articles article a {
  background-color: #ff9f1a;
}

#entertainment {
  background-color: rgba(219, 48, 130, 0.3);
}
#entertainment .articles article a {
  background-color: rgb(219, 48, 130);
}

#technology {
  background-color: rgba(0, 191, 255, 0.5);
}
#technology .articles article a {
  background-color: rgb(0, 191, 255);
}
